*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background-color: #f7f7f7;
}
/*Hamburger Icon*/
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    color: #000000;

}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.side-menu a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
}

.side-menu a:hover {
    font-size: 18px;
    transition: 0.3s;
}


.side-menu .close-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 20px;
}

@media (min-width: 1024px){
    .side-menu {
            position: static;
            width: auto;
            height: auto;
            padding-top: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: none;
        }
    
        .side-menu a:first-child {
            display: none;
        }
    
        .side-menu a {
            display: inline-block;
            padding: 10px 30px;
            font-size: 20px;
            color: #000;
            background-color: transparent;
            cursor: pointer;
        }
    
        .side-menu a:hover {
            transition: none;
            font-size: 20px;
            color: #ffb700;
        }
    
        .close-btn {
            display: none;
        }
    
        .hamburger {
            display: none;
        }
}